@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:600');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #0b101a;
}
body{
  max-width: 800px;
  margin: 50px auto;
}


/* Navigation Section */
.navigation{
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 50px;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  color: #ec0539;
  border-bottom: 10px solid #ec0539;
}
.navigation-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation:nth-child(2){
  margin-left: 50px;
}
.navigation a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Nunito',sans-serif;
  color: white;
  transition: all .3s ease-in-out
}
.navigation a:hover{
  color: #ec0539;
}


/*Splash Title */
.main-splash{
  margin-top: 125px;
}
.main-splash-text{
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}
.main-splash-text h1{
  color: white;
  font-size: 35px;
}
.main-splash-text h3{
  color: #ec0539;
  font-size: 18px;
}
.main-splash-text img{
  margin-top: 50px;
  height: 80px;
}



/* Mockups Styling */
.main-splash-mockup{
  display: flex;
  justify-content: flex-start;
  margin-left: -120px;
  margin-top: 100px;
}
.main-splash-mockup img{
  height: 600px;
  transform: scale(0.9);
  /*transform: rotateX(65deg) rotateY(0deg) rotateZ(-45deg);*/
}
.mockups-2{
  position: relative;
  left: -400px;
  top: -110px;
}



/* Info Styling */
.info{
  margin-top: 50px;
}
.info-about-1 h3{
  font-family: 'Montserrat',sans-serif;
  color: white;
  font-size: 40px;
  margin-bottom: 16px;
}
.seperator-1{
  width: 100px;
  background: #ec0539;
  border-radius: 2px;
  border: 0;
  height: 7px;
  margin-bottom: 18px;
}
.info-about-1 p{
  width: 350px;
  font-family: 'Montserrat',sans-serif;
  color: #ec0539;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42857143;
}

.info-about-2 h3{
  font-family: 'Montserrat',sans-serif;
  color: white;
  font-size: 40px;
  margin-bottom: 16px;
  margin-top: 100px;
  text-align: right;
}
.seperator-2{
  width: 100px;
  background: #ec0539;
  border-radius: 2px;
  border: 0;
  height: 7px;
  margin-bottom: 18px;
  margin-left:auto;
  margin-right:0;
}
.info-about-2 p{
  width: 400px;
  float: right;
  font-family: 'Montserrat',sans-serif;
  color: #ec0539;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42857143;
  text-align: right;
}




footer{
  margin-top: 320px;
  height: 300px;
  text-align: center;
}
footer h1{
  margin-top: 250px;
  font-size: 50px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  color: #ec0539;
}
footer img{
  margin-top: 20px;
  height: 100px;
}
